@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');


h1 {
    color: red;
}

p {
    font-style: italic;
}

li {
    list-style-type: none;
}

/* para guardar un selector de clase se antepone un punto */
.destacado {
    color: blue;
    font-weight: bold;
}

.destacado_rojo {
    color: red;
    font-weight:bold ;
}

/* para guardar un selector de ID se antepone un # */

#miElemento {
    font-size: 50px;
}

#miElementoVerde {
    font-size: 50px;
    color: green;
}

/* modelo de caja*/
#elemento {
border: 3px black dotted;
margin-top: 10px;
margin-right: 20px;
margin-bottom: 10px;
margin-left: 20px;
font-family: Arial, sans-serif;
}

.elemento2 {
border: 3px gold solid;
margin-top: 10px;
margin-right: 20px;
margin-bottom: 10px;
margin-left: 20px;
font-family: Arial, sans-serif;
display:flex;
}

.flex {
    display: flex;
    flex-direction: column;
}

.gradiente {
    background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.gradiente2 {
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}



.bitcount-prop-single-1 {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}